* {
  margin: 0px;
  padding: 0px;
}

html {
  overflow: hidden;
  height: 100%;
  background: linear-gradient(#3ea1f3dc, rgba(5, 109, 134, 0.89));
  background-size: cover;
  animation: backgroundChange 10s infinite;
}

@keyframes backgroundChange {
  0% {
    background: linear-gradient(
      rgba(66, 146, 211, 0.863),
      rgba(7, 82, 100, 0.89)
    );
  }
  25% {
    background: linear-gradient(
      rgba(52, 139, 209, 0.863),
      rgba(4, 89, 110, 0.89)
    );
  }
}

body {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.title {
  color: rgb(238, 255, 255);
  text-align: center;
  text-shadow:  0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  font-size: 42px;
  font-weight: bold;
  font-family: "woff";
  letter-spacing: 11px;
  margin-top: -87px !important;
  text-transform: uppercase;
}

.cube {
  position: relative;
  margin: 0px auto;
  margin-top: 10%;
  /* margin-left: 42%; */
  width: 200px;
  height: 200px;
  transform: rotateX(-30deg) rotateY(-80deg);
  transform-style: preserve-3d;
  animation: rotate 15s infinite;
}

.cube .outer-cube,
.cube .inner-cube {
  transform-style: preserve-3d;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.outer-cube .outer-top,
.outer-cube .outer-bottom,
.outer-cube .outer-right,
.outer-cube .outer-left,
.outer-cube .outer-front,
.outer-cube .outer-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 200px;
  border: 1px solid #fff;
  opacity: 0.3;
  transition: all 0.9s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-cube img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.outer-top {
  transform: rotateX(90deg) translateZ(100px);
}

.outer-bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.outer-front {
  transform: rotateY(0deg) translateZ(100px);
}

.outer-back {
  transform: translateZ(-100px) rotateY(180deg);
}

.outer-left {
  transform: rotateY(90deg) translateZ(100px);
}

.outer-right {
  transform: rotateY(-90deg) translateZ(100px);
}

.inner-cube > div {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 130px;
  height: 130px;
}

.inner-cube img {
  width: 130px;
  height: 130px;
}

.inner-top {
  transform: rotateX(90deg) translateZ(65px);
}

.inner-bottom {
  transform: rotateX(-90deg) translateZ(65px);
}

.inner-front {
  transform: rotateY(0deg) translateZ(65px);
}

.inner-back {
  transform: translateZ(-65px) rotateY(180deg);
}

.inner-left {
  transform: rotateY(90deg) translateZ(65px);
}

.inner-right {
  transform: rotateY(-90deg) translateZ(65px);
}

.cube:hover .outer-top {
  opacity: 0.8;
  transform: rotateX(90deg) translateZ(200px) translate(0, 0);
}

.cube:hover .outer-bottom {
  opacity: 0.8;
  transform: rotateX(-90deg) translateZ(200px) translate(0, 0);
}

.cube:hover .outer-front {
  opacity: 0.8;
  transform: rotateY(0deg) translateZ(200px) translate(0, 0);
}

.cube:hover .outer-back {
  opacity: 0.8;
  transform: translateZ(-200px) rotateY(180deg) translate(0, 0);
}

.cube:hover .outer-left {
  opacity: 0.8;
  transform: rotateY(90deg) translateZ(200px) translate(0, 0);
}

.cube:hover .outer-right {
  opacity: 0.8;
  transform: rotateY(-90deg) translateZ(200px) translate(0, 0);
}

#copy {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

#copy a {
  text-decoration: none;
  color: #191919d7;
}

#copy p {
  color: #fff6f9;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.message .author {
  position: absolute;
  right: 50px;
  background-image: -webkit-linear-gradient(
    left,
    blue,
    #66ffff 10%,
    #cc00ff 20%,
    #cc00cc 30%,
    #ccccff 40%,
    #00ffff 50%,
    #ccccff 60%,
    #cc00cc 70%,
    #cc00ff 80%,
    #66ffff 90%,
    blue 100%
  );
  font-size: 35px;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.message .tip {
text-shadow:  0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  position: absolute;
  /* right: 10px; */
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  margin-top: 60px;
  font-family:'Courier New', Courier, monospace;
  color: white;
  font-size: 28px;
}
